/* alguns comentarios...

bem eu usei chatgpt para ajudar em alguns lugares especificos do codigo como o responsivo por exemplo, usei o animista tbm */



@font-face {
    font-family: iz;
    src: url(social.otf);
}

@font-face {
    font-family: x;
    src: url(guarana.ttf);
}

@font-face {
    font-family: plr;
    src: url(just.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.linha1{
    border-bottom: solid 3px #d22b2b;
    padding: 5px 0;
    margin-right: 100px;
}

.linha2{
    border-bottom: solid 3px #fff500;
    padding: 2px 0;
}

.linha_1{
    border-bottom: solid 3px #d22b2b ;
    padding: 1px 0;
    margin-left: 300px;
    margin-right: 300px;
}

.flex img{
    margin-left: -50px;
}

a {
    text-decoration: none;
}

.ios {
    color: purple;
    font: bold;
    font-weight: 500;
}

.red {
    color: #d22b2b;
    font: bold;
    font-weight: 700;
}



.green {
    color: green;
    font: bold;
    font-weight: 700;
}



::-webkit-scrollbar {
    display: none;
}

.container {
    max-width: 1280px;
    margin: auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    background-color: transparent;
    width: 100%;
    padding: 40px 5%;
    top: 0;
    left: 0;
    transition: .5s;
    font-weight: 700;
    z-index: 100;

}

.desktop-menu-icon{
    display: none;
}


.logo {
    margin-left: 70px;
}

.logo::after {
    background-color: transparent;
}

header.rolagem {
    background-color: #00923f;
    padding: 20px 4%;
    z-index: 100;
}

header ul {
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin: 0 30px;
}

header ul li a {
    color: white;
    text-decoration: none;
}

.ajudar {
    display: inline-block;
    color: #00923f;
    background-color: #fff500;
    padding: 10px;
    border-radius: 30px;
    transition: .5s;
}

.ajudar::after {
    background-color: transparent;
}

.ajudar:hover {
    transform: scale(1.2);
}

header a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
    position: relative;
}

header a::after {
    content: '';
    position: absolute;
    height: 2px;
    left: 0;
    bottom: 0;
    width: 0;
    background: white;
    transition: width .4s;
}

header a:hover::after {
    width: 100%;
}

.banner {
   background-image: url(imagens/banner-s.png);
   background-position: bottom;
   background-repeat: no-repeat;
   background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 0 8%;
    margin-top: -12%;
}

.banner img {
    width: 400px;
    height: 250px;
    border-radius: 25px;
    border: #fff500 4px solid;
    
}

.banner .txt-banner {
    padding: 0 5%;
}

.banner .txt-banner h2 {
    color: #fff500;
    font-size: 32px;
}

.banner .txt-banner h3 {
    color: #ffffff;
    padding: 6px 0;
    font-size: 20px;
}

body {
    background-color: #f1f1f1;
}

h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 50px;
    text-align: center;
    color: #00923F;

}

.h2{
    font-family: "Open Sans", sans-serif;
    font-size: 50px;
    text-align: center;
    color: #00923F;
}

.pzito {
    font-size: 23px;
    font-family: plr;
    margin-left: 190px;
    margin-right: 190px;
    text-align: center;
}

.m {
    font-size: 20px;
}



@keyframes surgir {
    from {
        opacity: 0;
        translate: -100vw 0;

    }

    to {
        opacity: 1;
        translate: 0 0;

    }

}


button {
    background-color: #009f00;
}

.button {
    display: inline-block;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 32px;
    background-color: #fff500;
    color: #00923f;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    transition: .5s;
}

.button:hover {
    transform: scale(1.2);
}



/* -------- footer ---------- */


.bt {
    display: inline-block;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 32px;
    background-color: #fff500;
    color: #00923f;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    transition: .5s;
}

.bt:hover {
    transform: scale(1.2);
}

/* -------- Fim do footer ---------- */


.foto {
    align-items: center;
    display: flex;
    justify-content: center;

}

.foto img {
    border-radius: 25px;
    border: #000000 4px solid;

}




/* responsivo */

@media (max-width: 768px) {

    /* header responsivo */
    .logo {
        margin-left: 20px;
    }

    .desktop-menu-icon {
        display: block;
        font-size: 24px;
        cursor: pointer;
        color: #fff;
    }

    .desktop-menu {
        display: none;
        flex-direction: column;
        background-color: #00923F;
        padding: 10px;
        position: absolute;
        top: 60px;
        right: 10px;
        border-radius: 10px;
        z-index: 101;
    }

    .desktop-menu li {
        margin: 10px 0;
    }

    .desktop-menu li a {
        color: #fff;
    }

    .desktop-menu .ajudar {
        color: #00923F;
    }

    .desktop-menu.active {
        display: flex;
    }

    /* fim do header responsivo */

    /* responsivo em geral */
    .banner{
        display: grid;
        margin-top: 110px;
    }

    .img-responsivo img{
        width: 380px;
        height: 300px;
        margin-left: 15px;
        margin-right: -75px;
    }

    .pzito{
        margin: 5px;
    }

    .foto img{
        width: 450px;
        height: 300px;
    }

    .flex {
        padding: 0 15px;
    }
    




}

/* começo do footer responsivo */

footer {
    background-color: #00923F;
    font-family: "Poppins", sans-serif;
    height: 320px
}

.logo-footer {
    padding: 0 20px;
}

.logo-footer img {
    margin-top: -10px;
}

.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 3%;
}

.voluntario {
    width: 700px;
    margin-top: -38px;
}

.voluntario h2 {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    padding: 8px 0;
}

.voluntario p {
    font-size: 14px;
    color: #fff;
    font-weight: 300;
}

.voluntario p a {
    font-size: 15px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.mapa-site {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -45px;
}

.mapa-site h2 {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    padding: 10px 0;
    margin-top: -10px;
}

.mapa-site ul a {
    display: flex;
    margin-right: 22px;
    color: #fff;
    font-weight: 300;
    font-size: 14px;
   
}

.ajude {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ajude .qrcode {
    padding: 20px 0;
}

.ajude .qrcode img {
    height: 160px;
    margin-right: 60px;
}

.ajude .qrcode button {
    font-size: 10px;
    padding: 5px 5px;
    background-color: #ffffff30;
    list-style-type: none;
    border: none;
    color: #fff;
    font-weight: 100;
}



.ajude .txt-ajude {
    padding: 0 10px;
    margin: 0 60px;
    margin-top: -55px;
}

.ajude .txt-ajude h2 {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 0;
}

.ajude .txt-ajude p {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}

.logo-footer button:hover {
    background-color: #ffffff30;
    padding: 4px 10px;
    cursor: pointer;
}

.logo-footer button {
    transition: 0.5s;
    cursor: pointer;
}

.logo-footer button {
    background: none;
    padding: 5px 12px;
    border-radius: 30px;
    border: none;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
}

.logo-footer button i {
    color: #fff;
    padding: 0 4px;
}

.logo-footer .linha-10 {
    border-bottom: solid 3px #d22b2b;
    padding: 6px;
    margin-right: 50px;

}

.logo-footer .linha-11 {
    border-bottom: solid 3px #FFF500;
    padding: 2px;
}

p.copy {
    text-align: center;
    color: #fff;
}

@media (max-width: 768px) {
    footer {
      padding: 20px 0;
      height: auto;
  }

  .container-footer {
      flex-direction: column;
      align-items: center;
  }

  .logo-footer{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }

  .voluntario, .ajude {
      width: 90%;
      text-align: left;
      margin: 10px 0;
  }

  .mapa-site h2{
      font-weight: 600;
  }

  .mapa-site ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0;
  }

  .mapa-site ul a {
      margin: 5px 10px;
      width: calc(40% - 100px);
      margin-left: 50px;
  }

  .ajude {
      flex-direction: column;
  }

  .ajude .qrcode img{
      margin-left: 60px;
  }

  .ajude .qrcode {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }

  .ajude .txt-ajude {
      margin: 10px 0;
  }

  .linha-10, .linha-11{
      opacity: 0;
  }

  header{
    background-color: #00923f;
  }

  .banner{
    margin-top: -1px;
  }

}

/* fim do footer responsivo */



/* animista */

.puff-in-center {
    -webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-7-1 9:44:26
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
@-webkit-keyframes puff-in-center {
    0% {
        -webkit-transform: scale(2);
        transform: scale(2);
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes puff-in-center {
    0% {
        -webkit-transform: scale(2);
        transform: scale(2);
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.tilt-in-top-1 {
    -webkit-animation: tilt-in-top-1 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: tilt-in-top-1 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-7-2 8:51:35
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tilt-in-top-1
 * ----------------------------------------
 */
@-webkit-keyframes tilt-in-top-1 {
    0% {
        -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
        transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
        transform: rotateY(0deg) translateY(0) skewY(0deg);
        opacity: 1;
    }
}

@keyframes tilt-in-top-1 {
    0% {
        -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
        transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
        transform: rotateY(0deg) translateY(0) skewY(0deg);
        opacity: 1;
    }
}

.slide-top {
	-webkit-animation: slide-top 3.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
	        animation: slide-top 3.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-7-2 10:33:56
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
  }
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
  }
  